@import "./mixin";

@media (min-width: 1024px) {
  #header-photographer {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  #logo {
    @include logo-desktop;
    margin-bottom: 1.5em;
  }

  #photographer-profil {
    background-color: #fafafa;
    padding: 1.5em;
    padding-bottom: 0;
    border-radius: 5px;
    .profil-img {
      text-align: right;
    }
  }

  #profil-img-photographes {
    width: 200px;
    height: 200px;
  }

  #profil-header {
    font-size: 64px;
  }

  #profil-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .ville {
      font-size: 24px;
    }
    .quote,
    .prix {
      font-size: 18px;
    }
  }

  #photographer-tag {
    margin: 0;
    padding: 1.5em;
    background-color: #fafafa;
  }

  .tag {
    font-size: 18px;
    border-radius: 25px;
  }

  main {
    margin: 5%;
  }

  #galerie-media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .media {
    width: 30%;
  }
  #contact-wrap {
    width: 50%;
    position: absolute;
    top: 180px;
    left: 50%;
    text-align: left;
  }

  #acces-modal {
    width: 170px;
    height: 69px;
    font-size: 20px;
    font-weight: 700;
  }

  #filter-media {
    @include flex-align-items-center;
    font-family: $main-font;
    font-size: 1em;
    margin: 2%;
  }

  #filters {
    @include flex-align-items-center;
    flex-direction: column;
    margin-left: 6em;
    position: absolute;
    button {
      background-color: $base-color;
      padding: 0.8em;
      font-size: 0.9em;
      color: #ffff;
      white-space: nowrap;
      width: 130px;
      text-align: left;
      border-style: none;
    }
    :first-child {
      border-radius: 5px;
    }
  }

  #hidden_filters {
    @include flex-align-items-center;
    flex-direction: column;
    background-color: $base-color;
    position: relative;
    top: 41px;
    border-radius: 5px;
    z-index: 10;
    :first-child {
      border-radius: 5px 5px 0 0;
    }
    :nth-child(5) {
      border-radius: 0 0 5px 5px;
    }
  }

  .buttons-separator {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #ffff;
  }

  .fa-chevron-up,
  .fa-chevron-down {
    position: absolute;
    right: 0.8em;
  }

  /* modal */

  #modal-container {
    display: none;
    background-color: rgba(255, 255, 255, 0.459);
    padding-bottom: 60%;
    top: 3%;
  }

  #modal {
    background-color: #db8876;
    width: 49%;
    padding: 5%;
    padding-top: 2%;
    border-radius: 5px;

    #submit {
      height: 69px;
    }

    input,
    textarea {
      font-size: 1.2em;
    }
  }

  #name,
  #lastname,
  #email {
    height: 68px;
  }

  #message {
    height: 170px;
  }

  #modal-envoyer {
    justify-content: start;
  }

  .close {
    right: 29%;
    top: 3%;
  }
} ;
