@import "./mixin";

@media (min-width: 1024px) {
  #header-photographer {
    display: flex;
    flex-direction: column;
    margin-top: 3%;
  }
  #logo {
    @include logo-desktop;
    margin-bottom: 1.5em;
  }

  #photographer-profil {
    background-color: #fafafa;
    padding: 1.5em;
    padding-bottom: 0;
    border-radius: 5px;
    .profil-img {
      text-align: right;
    }
  }

  #profil-img-photographes {
    width: 200px;
    height: 200px;
  }

  #profil-header {
    font-size: 64px;
  }

  #profil-text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    .ville {
      font-size: 24px;
    }
    .quote,
    .prix {
      font-size: 18px;
    }
  }

  #photographer-tag {
    margin: 0;
    padding: 1.5em;
    background-color: #fafafa;
  }

  .tag {
    font-size: 18px;
    border-radius: 25px;
  }

  #photographer-count {
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    right: 36px;
    background-color: #db8876;
    width: 30%;
    border-radius: 5px 5px 0 0;
    font-size: 24px;
    p {
      margin: 0.5em;
      .fa-heart {
        font-size: 20px;
      }
    }
  }

  main {
    margin: 5%;
    margin-top: 0;
  }

  #galerie-media {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .media {
    width: 30%;
  }
  #contact-wrap {
    width: 50%;
    position: absolute;
    top: 180px;
    left: 50%;
    text-align: left;
  }

  #acces-modal {
    width: 170px;
    height: 69px;
    font-size: 20px;
    font-weight: 700;
  }

  #filter-media {
    @include flex-align-items-center;
    font-family: $main-font;
    font-size: 1em;
    margin: 2%;
  }

  #filters {
    @include flex-align-items-center;
    flex-direction: column;
    margin-left: 6em;
    position: absolute;
    button {
      background-color: $base-color;
      padding: 0.8em;
      font-size: 0.9em;
      color: #ffff;
      white-space: nowrap;
      width: 130px;
      text-align: left;
      border-style: none;
    }
    :first-child {
      border-radius: 5px;
    }
  }

  #hidden_filters {
    @include flex-align-items-center;
    flex-direction: column;
    background-color: $base-color;
    position: relative;
    top: 41px;
    border-radius: 5px;
    z-index: 10;
    :first-child {
      border-radius: 5px 5px 0 0;
    }
    :nth-child(5) {
      border-radius: 0 0 5px 5px;
    }
  }

  .buttons-separator {
    display: block;
    width: 90%;
    height: 1px;
    background-color: #ffff;
  }

  .fa-chevron-up,
  .fa-chevron-down {
    position: absolute;
    right: 0.8em;
  }
  /* lightbox */

  .close {
    width: 32px;
    height: 32px;
  }
  .close:before,
  .close:after {
    height: 32px;
    width: 3px;
  }

  #lightbox {
    .close {
      width: 42px;
      height: 42px;
      top: 1%;
      right: 3%;
    }
    .close:before,
    .close:after {
      position: absolute;
      top: 0;
      content: " ";
      width: 42px;
      height: 42px;
      width: 5px;
    }
  }

  #lightbox_media {
    @include justify-content-center;
    align-items: flex-start;
    .media-info {
      font-size: 24px;
    }
  }

  #next {
    font-size: 42px;
  }

  #prev {
    font-size: 42px;
  }

  .lightbox-img {
    border-radius: unset;
    width: initial;
    max-height: initial;
    max-width: 100%;
    height: 90vh;
  }

  /* modal */

  #modal-container {
    background-color: rgba(255, 255, 255, 0.459);
    padding-bottom: 60%;
    top: 3%;
  }

  #modal {
    background-color: #db8876;
    width: 49%;
    height: 80vh;
    padding: 3%;
    padding-bottom: 4%;
    padding-top: 2%;
    border-radius: 5px;

    #submit {
      height: 6vh;
    }

    input,
    textarea {
      font-size: 1.2em;
    }
  }

  #name,
  #lastname,
  #email {
    height: 68px;
  }

  #message {
    height: 170px;
  }

  #modal-envoyer {
    justify-content: start;
    margin-top: 2vh;
  }

  .close {
    right: 27%;
    top: 3%;
  }
} ;
