@font-face {
  font-family: "dmsans";
  src: url("fonts/DM_Sans/DMSans-Regular.ttf");
}

@font-face {
  font-family: "dmsans-bold";
  src: url("fonts/DM_Sans/DMSans-Bold.ttf");
}
@import "./sass/mixin";

/*pages photographes*/

#logo {
  @include logo-mobile;
  img {
    @include fit-container;
  }
}

header {
  margin: $margin-content;
  margin-bottom: 0;
}

#photographer-profil {
  display: flex;
  font-family: $main-font;
  .profil-img {
    width: 50%;
    height: 100%;
    text-align: left;
  }
}

#profil-img-photographes {
  width: 100px;
  height: 100px;
  object-fit: cover;
  @include make-it-round;
}

#profil-text {
  width: 80%;
  font-size: 13px;
}

#photographer-tag {
  white-space: nowrap;
  font-size: 13px;
  margin-top: 1em;
  :first-child {
    margin-left: 0;
  }
}

.tag {
  @include tag;
}

.screen-reader {
  @include screen-reader;
}

#profil-header {
  font-family: $main-font;
  font-size: 36px;
  color: $second-color;
  margin: 0;
}

#contact-wrap {
  @include align-text-center;
  width: 86%;
  position: fixed;
  top: 90%;
}

#acces-modal {
  color: #ffff;
  width: 170px;
  height: 35px;
  font-family: $main-font;
  background-color: $base-color;
  font-size: 18px;
  font-weight: 700;
  border-style: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

main {
  margin: 10% $margin-content;
  margin-top: 1%;
  padding-bottom: 15%;
}

.media {
  width: 100%;
  margin: 0;
  margin-bottom: 5%;

  img,
  video {
    border-radius: 5px;
    width: 100%;
    height: 350px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}

.media-info {
  color: $base-color;
  font-family: $main-font;
  font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 2%;
  :first-child {
    width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.fa-heart {
  width: 0.9em;
  margin-left: 3px;
}

#filter-media {
  display: none;
}

#photographer-count {
  display: none;
}

.visible {
  display: block;
}

.visible-flex {
  display: flex;
}

.invisible {
  display: none;
}

/* modal */

#modal-container {
  justify-content: center;
  align-content: center;
  background-color: #db8876;
  padding: $margin-content;
  padding-top: 2%;
  z-index: 4;
  position: fixed;
  width: 86%;
  height: 100vh;
  top: 0;
}

.form-data {
  display: flex;
  flex-direction: column;

  p {
    font-size: 12px;
    margin: 0;
  }
}

#modal {
  font-family: $main-font;
  width: 100%;

  h1 {
    margin: 0;
    font-size: 2.15em;
  }

  label {
    font-size: 1.3em;
    margin-top: 0.75em;
  }

  #name,
  #lastname,
  #email {
    border: none;
    border-radius: 5px;
    height: 47px;
  }

  #message {
    border: none;
    border-radius: 5px;
    height: 184px;
  }

  #submit {
    color: #ffff;
    width: 170px;
    height: 35px;
    background-color: #911c1c;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border-style: none;
  }
}

#modal-envoyer {
  @include justify-content-center;
  margin-top: 3em;
}

/* lightbox */
.overflow {
  overflow-y: hidden;
}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}
.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

#lightbox {
  background-color: #ffff;
  top: 0;
  padding-top: 1%;
  position: absolute;
  width: 100%;
  height: 100vh;
  text-align: center;
  overflow-y: hidden;

  .close {
    position: fixed;
    background-color: transparent;
    border-style: none;
    color: $base-color;
    width: 14px;
    height: 14px;
    padding: 0;
    top: 24vh;
    order: 1;
    right: 3%;
  }
  .close:before,
  .close:after {
    position: absolute;
    top: 0;
    content: " ";
    width: 14px;
    height: 14px;
    width: 2px;
    background-color: $base-color;
  }
}
#lightbox_media {
  @include flex-align-items-center;
  width: 83%;
  height: 100vh;
  order: 3;

  .media-info {
    margin-top: 0;
    text-transform: capitalize;
    font-size: 14px;
  }
  figure {
    width: fit-content;
    margin: 0;
  }
}

#lightbox_content_wrapper {
  @include flex-align-items-center;
  justify-content: space-evenly;
  width: 100%;
}

#next {
  font-size: 14px;
  color: $base-color;
  order: 4;
}

#prev {
  font-size: 14px;
  color: $base-color;
  order: 2;
}

.lightbox-img {
  border-radius: 5px;
  object-fit: cover;
  width: 100%;
  height: 50vh;
}
