@font-face{
    font-family: "dmsans";
    src: url("fonts/DM_Sans/DMSans-Regular.ttf");
}
@font-face{
    font-family: "dmsans-bold";
    src: url("fonts/DM_Sans/DMSans-Bold.ttf");
}


@font-face{
    font-family: "roboto";
    src: url("fonts/Roboto/Roboto-Regular.ttf");
}




$base-color: #911c1c;
$second-color: #d3573c;
$minor-color: #525252;
$main-font: "dmsans";


body{
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
}

.screen-reader{
    position: absolute;
    font-size: 1px;
    color: white;
    top: 0px
}

#logo{
    width: 50%;
img{
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
}

.navigation{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    width: 100%;
    height: 3.5em;
}

.tag{
    margin: 0.2em 0.2em;
    padding: 0.2em 0.5em ;
    font-family: "dmsans-bold";
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    color: $base-color;
    border: 0.5px solid #c4c4c4;
    border-radius: 11px;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
}

.fa-hashtag{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

#anchor-main{
    display: none;
    text-align: center;
  
a{  
    color: black;
    background: #DB8876;
    border-radius: 5px;
    font-family: "roboto";
    font-size: 18px;
    text-align: center;
    padding: 5px;
}
}

header{
    
    margin: 5%;
}

#main-title{
    font-family: $main-font ;
    color: #911c1c;
    font-size: 16px;
    position: absolute;
    z-index: 2;
    font-weight: normal;
    top: 2%;
    right: 5%;
}



.profil-img{

    width: 200px;
    height: 200px;
    img{
        width: 100%;
        height: 100%;
        border-radius: 50%;
        -o-object-fit: cover;
           object-fit: cover;
}
}

h2 {
    margin: 0.5em 0 0.2em 0;
   color: $second-color;  
}

.card{
    margin: 5%;
    font-family: $main-font;
    display: block;
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

p{
    margin: 0 0 0.5em 0;
}

.ville{
    color: $base-color;
    font-size: 16px;
}

.quote{
    font-size: 12px;
}

.prix{
    color: $minor-color;
    font-size: 10px;
}

.card-tagwrapper{
    .tag{
        text-transform: lowercase;
    }
}

.galerie-img{
    width: 100px;
    height: 100px;

img{
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}
}

/*pages photographes*/

#photographer-profil{
    display: flex;
    font-family: $main-font;
  
    img {
        width: 100px;
        height: 100px;
        
    }
    .profil-img{
        height: 100%;
        text-align: right;
    }
}

#profil-text{
    width: 80%;
    font-size: 13px;
}

#photographer-tag{
    font-size: 13px;
    margin-top: 0.95em;
    :first-child {
        margin-left: 0;
    }
}

#profil-header{
    font-family: $main-font;
    font-size: 36px;
    color: $second-color;
    margin: 0;
}

#contact-wrap{
    width: 86%;
    position: fixed;
    scroll-behavior: smooth;
    text-align: center;
    top:90%;
}

#acces-modal{
    color: #ffff;
    font-family:$main-font;
    background-color: $base-color;
    font-size: 18px;
    font-weight: 700;
    border-style: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

main{
   margin: 10% 5%;
   padding-bottom: 15%;
}

.media{
    width: 100%;
    margin: 0;
    margin-bottom: 5%;

    img{
        border-radius: 5px;
        width: 100%;
        height:  11.9em;
        -o-object-fit: cover;
        object-fit: cover;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
}
}

.media-info{
 color: $base-color;
 font-family: $main-font;
 font-weight: 500;
  display: flex;
  flex-wrap: nowrap;
 justify-content: space-between;
 margin-top: 2%;
 :first-child{
     width: 70%;
 }
 span{
   
     white-space: nowrap;
     display: block;
 }
}

.fa-heart{
    width: 0.9em;
    margin-left: 3px;
}

#filter-wrap{
    font-family: $main-font;
    font-size: 1em;
    margin-bottom: 2%;
}

#filter-media{
    color: #fff;
    padding: 0.8em;
    border-radius: 5px;
    background-color: $base-color;
    border-style: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

option{
    display: block;
    background-color: $base-color;
}